<div class="container">
    <form autocomplete="off" >
        <div class="form-group">
            <label for="id">id</label>
            <input type="id" id="id" class="form-control"  >
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="name" id="name" class="form-control" >
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" id="email" class="form-control" >
        </div>
        <div class="form-group">
            <label for="gender">gender</label>
            <input type="gender" id="gender" class="form-control" >
        </div>
        
        <button class="btn btn-danger" type="submit">Add</button>
    </form>
</div>